@(username: String)(implicit request: RequestHeader)
@main(title = "Chat Room") {
    <h1>Chatroom - you are @username</h1>
    <form id="chatform">
        <input id="text" placeholder="Say something..."/>
        <button type="submit">Say</button>
    </form>
    <ul id="messages"></ul>
    <script type="application/javascript">
            $(function() {
                var ws = new WebSocket("@routes.ChatController.chatSocket(username).webSocketURL()");

                ws.onmessage = function(msg) {
                    $('<li/>').text(msg.data).appendTo('#messages')
                };

                $('#chatform').submit(function() {
                    ws.send($('#text').val());
                    $('#text').val("").focus();
                    return false;
                });
            });
    </script>
}